button {
	border: none;
	
}

#rood {
	background-color: red;
	height: 100px;
}

#geel {
	background-color: yellow;
	height: 100px;
}

#blauw {
	background-color: blue;
	height: 100px;
}

#groen {
	background-color: green;
	height: 100px;
}

#aan {
	background-color: black;
	height: 100px;
}

#uit {
	background-color: grey;
	height: 100px;
}

