<html>
<head>
  <title>hack the future</title>

  <script src="required/angular.js"></script>
  <script src="required/router.js"></script>
  <script src="required/bootstrap.js"></script>

  <script src="scripts/hackthefuture.js"></script>
  <script src="scripts/lampService.js"></script>
  <script src="scripts/lampController.js"></script>



  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
  <body ng-app="hackthefuture" ng-controller="hueController">


      <div div="row"> {{ lamp.name }} {{ lamp.status }} </div>
      <button ng-click="">Aan/uit</button>
    
      <div class="row">
          <button ng-click="">Rood</button>
          <button ng-click="">Geel</button>
          <button ng-click="">Blauw</button>
          <button ng-click="">Groen</button>
      </div>

    

  </body>
</html>