<html>
<head>
  <title>hack the future</title>

  <script src="required/angular.js"></script>
  <script src="required/router.js"></script>
  <script src="required/bootstrap.js"></script>

  <script src="scripts/hackthefuture.js"></script>
  <script src="scripts/factories/lampService.js"></script>
  <script src="scripts/controllers/lampController.js"></script>
  <script src="scripts/factories/registreerFactory.js"></script>
  <script src="scripts/controllers/registreerController.js"></script>
  <link href="required/bootstrap.css" rel="stylesheet">
  <link href="style/style.css" rel="stylesheet">



  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
  <body ng-app="hackthefuture">

     <ui-view></ui-view>

     <script type="text/ng-template" id="/kleur.html">
         <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">lamp: {{ lamp.name }}</h3>
            </div>
            <div class="panel-body">
              <button class="col-md-6" ng-click="aan()" id="aan">Aan</button>
              <button class="col-md-6" ng-click="uit()" id="uit">Uit</button>
              <button class="col-md-3" ng-click="rood()" id="rood"></button>
              <button class="col-md-3" ng-click="geel()" id="geel"></button>
              <button class="col-md-3" ng-click="blauw()" id="blauw"></button>
              <button class="col-md-3" ng-click="groen()" id="groen"></button>
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id="/register.html">
        <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Registreer team</h3>
      </div>
      <form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="inputTeam" class="col-lg-2 control-label">Team name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputTeam" placeholder="Team name" ng-model="team">
      </div>
    </div>
    <div class="form-group">
      <label for="member1" class="col-lg-2 control-label">Member 1</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="member1" placeholder="Member 1" ng-model="lid1">
      </div>
    </div>
    <div class="form-group">
      <label for="member2" class="col-lg-2 control-label">Member 2</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="member2" placeholder="Member 2" ng-model="lid2">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button ng-click="register()" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    
  </fieldset>
</form>
     </script>
    


  
    


    

  </body>
</html>