<html>
<head>
  <title>hack the future</title>

  <script src="required/angular.js"></script>
  <script src="required/router.js"></script>
  <script src="required/bootstrap.js"></script>

  <script src="scripts/hackthefuture.js"></script>
  <script src="scripts/lampService.js"></script>
  <script src="scripts/lampController.js"></script>
  <link href="required/bootstrap.css" rel="stylesheet">
  <link href="style/style.css" rel="stylesheet">



  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
  <body ng-app="hackthefuture" ng-controller="hueController">

 <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">lamp: {{ lamp.name }}</h3>
      </div>
      <div class="panel-body">
          <button class="col-md-6" ng-click="aan()" id="aan">Aan</button>
          <button class="col-md-6" ng-click="uit()" id="uit">Uit</button>
          <button class="col-md-3" ng-click="rood()" id="rood"></button>
          <button class="col-md-3" ng-click="geel()" id="geel"></button>
          <button class="col-md-3" ng-click="blauw()" id="blauw"></button>
          <button class="col-md-3" ng-click="groen()" id="groen"></button>
      </div>
    </div>
 </div>

    


  
    


    

  </body>
</html>